<h2 class="text-2xl font-medium pb-2">Contact Form</h2>
<p class="pb-3">Please fill out and submit the form below to contact us. We look forward to your hearing from and working with you.</p>

<form hx-post="/contact" hx-target="#contact-form-container" hx-swap="innerHTML">
  <div class="relative">
    <label for="fname" class="block text-left">First name:</label>
    <input type="text" id="fname" name="fname" class="border border-gray-600 bg-slate-500 rounded-md px-2 py-2 w-full mt-2" required><br><br>
    <label for="lname" class="block text-left">Last name:</label>
    <input type="text" id="lname" name="lname" class="border border-gray-600 bg-slate-500 rounded-md px-2 py-2 w-full mt-2" required><br><br>
    <label for="email" class="block text-left">Email:</label>
    <input type="email" id="email" name="email" class="border border-gray-600 bg-slate-500 rounded-md px-2 py-2 w-full mt-2" required><br><br>
    <label for="message" class="block text-left">Message:</label>
    <textarea id="message" name="message" rows="4" cols="50" class="border border-gray-600 bg-slate-500 rounded-md px-2 py-2 w-full mt-2" required></textarea><br><br>
    <button class="block text-left rounded-md bg-slate-500 py-2 px-4 border border-transparent text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="submit">
      Submit
    </button>
  </div>
</form>
