<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AVRNPO - Projects</title>
  <script src="static/htmx-2-0-3.js"></script>
  <link href="static/tailwind.min.css" rel="stylesheet" type="text/css" />
  <link href="static/daisyui.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js">
  </script>
</head>

<body class="m-5">
  <div class="flex justify-center items-center">
    <div>
      <h1 class="text-4xl font-bold text-center p-2">The AVR Project Model</h1>
      <p>AVR is dedicated to providing veterans the opportunity to learn what it takes to build their home. In the
        process participating veterans will...</p>
      <ol class="list-decimal px-8">
        <li>Become certified in a trade they can depend on to provide for their families.</li>
        <li>Become a member of professional networking as well as a community of like minded veterans who have lived
          similar
          experiences.</li>
        <li>Have an opportunity to purchase a home at project cost rather than today's inflated market values.</li>
        <li>Build personal equity in the appraised value of the home to assist in future loans for personal or
          professional
          development.</li>
      </ol>
    </div>
  </div>

  <br>

  <h1 class="text-4xl font-bold text-center">The Process</h1>

  <div class="carousel w-full rounded-box">
    <!-- First slide -->
    <div id="slide1" class="carousel-item relative w-full">
      <div class="bg-base-200 p-6 w-full h-full overflow-y-auto px-12">
        <h2 class="text-3xl font-semibold text-center mb-4">Selection of a Project House</h2>
        <ul class="list-disc px-8 py-4 max-w-3xl mx-auto">
          <li>AVR works with the local municipalities to identify properties with liens, foreclosures or condemnable
            blight.</li>
          <li>AVR then contacts the responsible parties and if successful, purchases the properties with donated
            funds.</li>
          <li>Property purchase value is not to exceed $100,000.</li>
        </ul>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide4" class="btn btn-circle">❮</a> 
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div> 
    
    <!-- Second slide -->
    <div id="slide2" class="carousel-item relative w-full">
      <div class="bg-base-200 p-6 w-full h-full overflow-y-auto px-12">
        <h2 class="text-3xl font-semibold text-center mb-4">Selection of a Veteran Training Participant</h2>
        <ul class="list-disc px-8 py-4 max-w-3xl mx-auto">
          <li>A veteran will be selected for technical training in the trade of their choice based on factors to
            include their proximity to available projects and personal and professional needs.</li>
          <li>Application only requires proof of DD214 showing at least one year of service. AVR will not discriminate
            based on status of discharge.</li>
        </ul>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide1" class="btn btn-circle">❮</a> 
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div> 
    
    <!-- Third slide -->
    <div id="slide3" class="carousel-item relative w-full">
      <div class="bg-base-200 p-6 w-full h-full overflow-y-auto px-12">
        <h2 class="text-3xl font-semibold text-center mb-4">Project Construction / Technical Training</h2>
        <ul class="list-disc px-8 py-4 max-w-3xl mx-auto">
          <li>The majority of AVR project homes will require demolition of existing structures. This allows for
            participants to select from nearly every trade required for project completion.</li>
          <li>Participants serve as paid apprentices to currently licensed and insured Contractors while also
            receiving assistance in completing necessary paperwork and pre requisites to becoming licensed and insured LLC.
            holders themselves.</li>
          <li>Estimated project completion time is Appx. 4 months, ensuring that participants have a steady income
            through project completion.</li>
        </ul>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-circle">❮</a> 
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div> 
    
    <!-- Fourth slide -->
    <div id="slide4" class="carousel-item relative w-full">
      <div class="bg-base-200 p-6 w-full h-full overflow-y-auto px-12">
        <h2 class="text-3xl font-semibold text-center mb-4">Homeownership Option</h2>
        <ul class="list-disc px-8 py-4 max-w-3xl mx-auto">
          <li>AVR holds the initial title to the project property.</li>
          <li>Upon completion of a project home the now licensed and insured participant will be offered the
            opportunity to finance the home from AVR at the completed construction cost, rather than at inflated market values.</li>
          <li>This allows for AVR to show future financial sustainability that strengthens as more projects are
            complete, as well as lessens AVR's dependence on donors and investors.</li>
          <li>AVR will serve as Co-signer on equity loans for approved requests. Participants who complete payments on
            project homes can now use their home equity to grow their businesses or improve their personal situations.</li>
          <li>If participants wish to sell their project home, AVR maintains First Right of Refusal. This allows for
            AVR to maintain ownership of the property for access to other AVR benefactors in need.</li>
        </ul>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-circle">❮</a> 
        <a href="#slide1" class="btn btn-circle">❯</a>
      </div>
    </div>
  </div>

</body>

</html>