/* GloabStyles */

body {
    background-color: rgb(51, 52, 63);
}

* {
    color: white;
}

.socials img:hover {
    opacity: 0.5;
}

/* Index Styles */

.nav-button {
    border-color: #f8bd26;
    color: #f8bd26;
}
.nav-button:hover {
    background-color: "#A6932C";
    color: white;
}
/* Join styles */

.social-media-content {
    flex-basis: 0;
    flex: 1 1 0px;
}

/* Donate Styles */

/* Footer Styles */

/* footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px
}
.footer-socials {
    list-style-type: none;
    padding: 0;
}
.footer-socials li {
    display: inline-block;
    margin-left: 10px;
}
.footer-socials img {
    width: 32px;
}

.top {
    padding: 0 50px;
} */
