/* GloabStyles */

body {
    background-color: rgb(51, 52, 63);
}

* {
    color: white;
}

.socials img:hover {
    opacity: 0.5;
}

/* Index Styles */

.nav-button {
    border-color: #f8bd26;
    color: #f8bd26;
}
.nav-button:hover {
    background-color: "#A6932C";
    color: white;
}
/* Join styles */

.social-media-content {
    flex-basis: 0;
    flex: 1 1 0px;
}

/* Donate Styles */

/* Footer Styles */

/* team styles */
.top {
    padding: 0 50px;
}
