/* GloabStyles */

body {
    background-color: rgb(51, 52, 63);
}

* {
    color: white;
}

.socials img:hover {
    opacity: 0.5;
}

/* Index Styles */


/* Join styles */

/* Donate Styles */

/* Footer Styles */
