<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="/static/team.css" rel="stylesheet"> 
  </head>
  <body>

    <div class="rows">
      <div class="column">
        <div class="row">
          <a href="\static\LA_AVR_Articles_of_Incorporation.pdf">
            <embed src="\static\Page1_Image_LA_AVR_Articles_of_Incorpartion.jpg" width="256px" height="332px" />
          </a>    
        </div>
        <div class="row">
          <a href="\static\AVR_501c3_determination_letter.pdf">
            <embed src="\static\AVR_501c3_determination_letter.jpg" width="256px" height="332px" />
          </a>
        </div>
        
      </div>
      <div class="column">
          <h1>Contact AVR</h1>
          <p>If you are or know of a veteran desiring technical training, contact us. If you know of a potential monetary or goods donor, contact us. If you know anything about fundraising, legalese, contracting, residential construction, residential property management, program management, VA resources or anything else you wish to assist us with, contact us. Your input is invaluable. We look forward to building a ground up network of personal and professional contacts with you. Every piece of advice and knowledge is welcomed and encouraged.</p>
        </div>
      <div class="column">
        <h1>Contact Form</h1>
        <p>Please fill out and submit the form below to contact us. We look forward to your hearing from and working with you.</p>
        
        <form action="/action_page.php">
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email"><br><br>
          <label for="message">Message:</label>
          <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="column"></div>
    </div>
  </body>
</html>
