<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVRNPO - Contact Us</title>
    <script src="static/htmx-2-0-3.js"></script>
    <link href="static/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="static/contact.css" rel="stylesheet">
    <link href="static/daisyui.min.css" rel="stylesheet" type="text/css" />
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
        }
      });
    </script>
  </head>
  <body class="bg-base-300 text-base-content">
    <div class="flex flex-col md:flex-row text-center">
      <div class="md:basis-1/3 m-5">
          <a href="\static\LA_AVR_Articles_of_Incorporation.pdf" target="_blank" class="mx-4 my-2">
            <embed src="\static\Page1_Image_LA_AVR_Articles_of_Incorpartion.jpg" width="256px" height="332px" />
          </a>    
        
          <a href="\static\AVR_501c3_determination_letter.pdf" target="_blank" class="mx-4 my-2">
            <embed src="\static\AVR_501c3_determination_letter.jpg" width="256px" height="332px" />
          </a>
      </div>   
      <div class="md:basis-1/3 m-5">
          <h2 class="text-2xl font-medium pb-2">Contact AVR</h2>
          <p class="pb-3">If you are or know of a veteran desiring technical training, contact us. If you know of a potential monetary or goods donor, contact us. If you know anything about fundraising, legalese, contracting, residential construction, residential property management, program management, VA resources or anything else you wish to assist us with, contact us. Your input is invaluable. We look forward to building a ground up network of personal and professional contacts with you. Every piece of advice and knowledge is welcomed and encouraged.</p>
      </div>
      <div class="md:basis-1/3 m-5" id="contact-form-container">
        <h2 class="text-2xl font-medium pb-2">Contact Form</h2>
        <p class="pb-3">Please fill out and submit the form below to contact us. We look forward to your hearing from and working with you.</p>
        
        <form hx-post="/contact" hx-target="#contact-form-container" hx-swap="innerHTML" class="card bg-base-100 shadow-xl p-6">
          <div class="form-control w-full">
            <label for="fname" class="label">
              <span class="label-text">First name</span>
            </label>
            <input type="text" id="fname" name="fname" class="input input-bordered w-full" required>
            
            <label for="lname" class="label">
              <span class="label-text">Last name</span>
            </label>
            <input type="text" id="lname" name="lname" class="input input-bordered w-full" required>
            
            <label for="email" class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" id="email" name="email" class="input input-bordered w-full" required>
            
            <label for="referralSource" class="label">
              <span class="label-text">How did you hear about us?</span>
            </label>
            <select id="referralSource" name="referralSource" class="select select-bordered w-full">
              <option value="">Please select...</option>
              <option value="social">Social Media</option>
              <option value="friend">Friend/Family</option>
              <option value="event">Community Event</option>
              <option value="search">Search Engine</option>
              <option value="other">Other</option>
            </select>
            
            <label for="message" class="label">
              <span class="label-text">Message</span>
            </label>
            <textarea id="message" name="message" rows="4" class="textarea textarea-bordered w-full" required></textarea>
            
            <div class="mt-6">
              <button class="btn btn-primary" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
