<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVRNPO</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <div>
      <h1>Donations</h1>
      <p>American Veterans Rebuilding has achieved it's goal of obtaining 501(c)(3) tax exempt status. This means that AVR is now full "go" into fundraising operations. We are currently in process of putting together a video introduction to American Veterans Rebuilding. The video will focus on our mission and what a project looks like from start to finish to include financials. We plan to premier the video here soon. We cannot thank all of you enough for the support to date. Monetary donations will serve as the foundation on which we build. In the coming months, as we prepare to break ground on our first project home, AVR will begin improving its position by investing in legal services, contracting veteran General Contractors and engaging with local technical colleges so that we can fulfill our end of the mission statement. All donations are tax deductible to both AVR and the donor. </p>  
    </div>
    <div>
      <h2>Donate to AVR</h2>
      <p>Thank you for improving our fighting position</p>
      <form action="/action_page.php">
        <div class="relative">
          <label for="fname" class="block text-left">First name:</label>
          <input type="text" id="fname" name="fname" required class="border border-gray-300 rounded-md px-2 py-2 w-full mt-2"><br><br>
          <label for="lname" class="block text-left">Last name:</label>
          <input type="text" id="lname" name="lname" required class="border border-gray-300 rounded-md px-2 py-2 w-full mt-2"><br><br>
          <label for="email" class="block text-left">Email:</label>
          <input type="email" id="email" name="email" required class="border border-gray-300 rounded-md px-2 py-2 w-full mt-2"><br><br>
          
          <label for="cars">Donation intended for?</label>
          <select name="Donation intended for:" id="intent" required>
            <option value="AVR General Fund">Volvo</option>
            <option value="Surfing With Perez Reunion">Saab</option>
          </select>
          
          <label for="refferal" class="block text-left">How did you hear about us?</label>
          <textarea id="refferal" name="refferal" rows="4" cols="50" class="border border-gray-300 rounded-md px-2 py-2 w-full mt-2" required></textarea><br><br>
          <label for="Donation" class="block text-left" required>What would to like to give?</label>
          <input type="number" id="Donation" name="Donation" class="border border-gray-300 rounded-md px-2 py-2 w-full mt-2"><br><br>
          <button class="rounded-md bg-slate-500 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
