<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVRNPO - Footer</title>
    <script src="static/htmx-2-0-3.js"></script>
    <link href="static/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="static/daisyui.min.css" rel="stylesheet" type="text/css" />
  </head>
  <footer>
    <div>
      <p>2024 Right reserverd by AVRNPO.</p>
    <ul class="footer-socials">
      <li>
        <a href="https://discord.com/invite/f6TzKart7J" target="_blank" class="socials"><img class="h-10 w-10" src="static/Discord.svg" alt="discord"/></a>
      </li>
      <li>
        <a href="https://open.spotify.com/show/5BBarK2chVBVPCbqrILO73" target="_blank" class="socials"><img class="h-10 w-10" src="static/Spotify.svg" alt="Spotify"/></a>
      </li>
      <li>
        <a href="https://www.facebook.com/AmericanVeteransRebuilding" target="_blank" class="socials"><img class="h-10 w-10" src="static/Facebook.svg" alt="Facebook"/></a>
      </li>
      <li>
        <a href="https://x.com/avrnpo" target="_blank" class="socials"><img class="h-10 w-10" src="static/XIconWhite.png" alt="X"/></a>
    </ul>
    </div>
  
    <p>
      The information on this website is provided by American Veterans Rebuilding (AVRNPO) for general informational purposes only. While we strive for accuracy, we make no guarantees about the completeness or reliability of the content. Links to external sites are provided for convenience and do not imply endorsement. AVRNPO is a registered 501(c)(3) non-profit organization, and donations are tax-deductible as allowed by law. We are not responsible for any temporary unavailability of the website due to technical issues beyond our control. For questions, please contact us at [contact email].
    </p>
  </footer>
</html>
