<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVRNPO</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="static/styles.css" rel="stylesheet" />
    <script src="static/tailwind-3-4-16.css"></script>

  </head>
  <body class="Join-in">
    <div class="flex flex-col items-center">
      <div class="w-1/2 mx-auto text-center pb-6">
      <h1 class="text-4xl font-bold pb-2">How Can You Help?</h1>
      <p class="pb-2">As always, the best thing you can do to support AVR is to follow, like and share our goals on our family of social medias. Sharing our mission through word of mouth is the foundation on which we will build. AVR stands ready to accept the donations needed to begin our first project homes. Please rally as many as possible so that we can succeed from day one. Keep up to date with our progress and growing community at the links below.</p>
      </div>
    
      <h1 class="text-4xl font-bold pb-4">The AVR Family of Social Medias</h1>
      <div class="social-media-content flex flex-col text-center sm:flex-row">
        <div class="basis-1 grow px-2">
          <h2 class="text-2xl font-medium pb-2">AVRNPO.ORG DISCORD</h2>
          <p class="pb-3">Join us in the AVRNPO.ORG Discord server where you can participate in recordings of the AVR SFC Podcast as well as find a wealth of knowledge, resources and history in the dedicated server channels. Oh, yea... we like to game as well!</p>
          <a href="https://discord.com/invite/f6TzKart7J" target="_blank" class="socials"><img class="h-10 w-10" src="static/Discord.svg" alt="discord"/></a>
        </div>
        <div class="basis-1 grow px-2">
          <h2 class="text-2xl font-medium pb-2">The AVR SFC Podcast</h2>
          <p class="pb-3">The AVR SFC Podcast is dedicated to the improvement of all things regarding the American Veterans' Self Family and Community. Tune in to hear personal accounts of war and its traumas, insights as to what family members of veterans experience, and guidance from community leaders on how to utilized earned benefits.</p>
          <a href="https://open.spotify.com/show/5BBarK2chVBVPCbqrILO73" target="_blank" class="socials"><img class="h-10 w-10" src="static/Spotify.svg" alt="Spotify"/></a>
        </div>
        <div class="basis-1 grow px-2">
          <h2 class="text-2xl font-medium pb-2">Facebook / X</h2>
          <p class="pb-3">Join us on Facebook and X where American Veterans Rebuilding posts project information and updates, photos, videos, fundraiser details and recording times for the SFC Podcast. Get to know what AVR is all about and help this amazing community grow.  Thank you for the support!</p>
          <div class="flex">
            <a href="https://www.facebook.com/AmericanVeteransRebuilding" target="_blank" class="socials"><img class="h-10 w-10" src="static/Facebook.svg" alt="Facebook"/></a>
            <a href="https://x.com/avrnpo" target="_blank" class="socials"><img class="h-10 w-10" src="static/XIcon.png" alt="X"/></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
