<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/tailwind-3-4-16.css"></script>
    <title>AVRNPO</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body class="flex flex-wrap justify-center items-center">
<article class="w-1/2">
    <h1>Meet the AVR Team</h1>
    <p>American Veterans Rebuilding is formed by Combat Veterans of the wars in Afghanistan and Iraq. We are soldiers who have lived through hell on earth and found a way to continue to dedicate our lives to the military's core values of Loyalty, Duty, Respect, Selfless Service, Honor, Integrity and Personal Courage.</p>
</article>

<section class="w-1/4">
    <h2>Founder / President</h2>
    <h3>Michael Price</h3>
    <img/>
    <p>My name is Michael Price. I am the Founder and President of American Veterans Rebuilding. I am a loving father to my daughter Madeline, and husband to my wife Jessica. I served in the ARMY as Active Duty Infantry from 2004 to 2007 where I formed a brotherhood with Sergio and Joshua. We shared three years and a combat tour to Ramadi together. I then earned the 37F MOS in 2007 and served until 2010 as a Psychological Operations Specialist. I separated from the ARMY in late 2010 and began my personal business, American Veterans Renovations, and have been improving homes ever since. While running my business I met my wife, Jessica, who continues to inspire me to improve myself and to work for more. American Veterans Rebuilding is the dream that we all hope to achieve together. </p>
</section>   

<section class="w-1/4">
    <h2>Executive VP</h2>
    <h3>Sergio Rubio</h3>
    <img/>
    <p>My name is Sergio Rubio, I’ve been a Registered Nurse for over six years. I’m currently working with Kaweah Delta in Southern California in the Emergency and Cardiac department. The challenges I encounter at work push me to the limits of my experience, skills, and knowledge, which brings out the best in me. I was honored to serve my community during the COVID pandemic. I graduated from California State University, Bakersfield in 2018 with a bachelor's degree in Nursing. In 2002, I answered the nation's call and joined the U.S Army, while serving a total of nine years. I earned the rank of Staff Sergeant and endured two combat deployments in Iraq. I am excited to join my brothers in arms on our new venture. We look forward to serving our brothers and sisters in the armed forces, while helping them acquire stability, shelter, and desirable job skills.</p>
</section>
    
<section class="w-1/4">
    <h2>VP / Secretary</h2>
    <h3>Joshua Hicks</h3>
    <img/>
    <p>Joshua Hicks served as a US Army Infantryman alongside AVRNPO's President, Michael Price, for four years, forging a lasting brotherhood. Josh's service extended to seven years of active duty and an additional year in the National Guard. Now residing in Phoenix, AZ, he enjoys the desert life with his wife, Erica, and their faithful companion, George. He is currently a Software Development Technical Lead at Charles Schwab, Inc.</p>
</section>
    
<section class="w-1/4">
    <h2>Treasure</h2>
    <h3>William Cuccurullo</h3>
    <img/>
    <p>A manager of financial instruments and real estate, William began his work with investments in 2017. He brings his analytical and financial management skills to efficiently establish the feasibility of projects and develop a framework of macroeconomic conditions.  A graduate of the Zicklin School of Business at Baruch College in NYC, William completed his BBA with a concentration in finance and marketing. In his spare time, he enjoys producing and experiencing live music events.</p>
</section>







  </body>

</html>
