<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVRNPO</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="/static/team.css" rel="stylesheet"> 
  </head>
  <body>
    <h1>Meet the AVR Team</h1>
    <p>American Veterans Rebuilding is formed by Combat Veterans of the wars in Afghanistan and Iraq. We are soldiers who have lived through hell on earth and found a way to continue to dedicate our lives to the military's core values of Loyalty, Duty, Respect, Selfless Service, Honor, Integrity and Personal Courage.</p>
  </body>

</html>
